footer{
    display: flex;
    height: 200px;
    background-color: #000000;
    justify-content: center;
    font-weight: bold;
    flex-direction: column; 
}
footer>div>p{
    color: white;
    margin-top: 15px;
    margin-left: 35px;
}

#redeSocial{
    text-decoration: none;
    font-weight: normal;
    padding: 5px;
    display: block;
    color: white;
    margin-left: 35px;
}